{%extends 'base.html' %}

{%block content%}
{{block.super}}
  <div class="container text-center">

    <h2>Welcome to your Profile</h2>
    <div>
      <p>User: {{current_user.username}}</p>

      <img src="{{userprofile.profile_photo.url}}" alt="picture"  width="200" height="200">
      <p>{{userprofile.bio}}</p>
    </div>
    <div>
      <a href="{% url 'imageupload' %}"></a>
    </div>

    <div class="row">
      {%for image in user_images%}
        <div class="col-md-4">
          <img src="{{image.image.url}}" alt="{{image.image_name}}" width="200" height="200">
        </div>
      {%endfor%}
    </div>

  </div>

{%endblock%}