{%extends 'profile/profilebase.html' %}


{%block content%}
{{block.super}}
<div class="container text-center">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div>
        <table class="table table-borderless">
          <tr>
            <td>
              <img src="{{userprofile.profile_photo.url}}" alt="picture" width="200" height="200" class="profpicimg">
            </td>
            <td>
              <p>{{current_user.username}}</p>
              <p>{{user.profile.profile_bio}}</p>
              <div>
                <p>{{numfollowers}} followers {{numfollowing}} following</p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <h3> {{current_user.username}}'s Posts</h3>
  <div class="row">
    {%for image in user_images%}  
    <div class="col-md-4">
      <div class="card" style="width: 15rem;">
        <a href="{% url 'singleimage' image.id %}"><img src="{{image.image.url}}" alt="{{image.image_name}}" width="200" height="200" class="userimages"></a>
        <div class="card-body">
          <h5 class="card-title">{{image.image_name}}</h5>
          <p class="card-text">{{image.image_caption|truncatechars:50}}..</p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  <div>
    <a href="{% url 'imageupload' %}" class="btn btn-outline-success" style="margin-top: 20px;">Upload new image</a>
  </div>

</div>

{%endblock%}