{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static}

{%block content%}
  {{block.super}}
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <form action="/image/upload/">
          {%csrf_token%}
        {{bootstrap_form form}}
        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-sm" value="Upload">
        </div>
        </form>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
{%endblock%}