{% extends 'base.html'%}


{%block content%}
{{block.super}}
  <div class="container">
    <div class="row" style="padding-top: 50px;">
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Username</h5>
          </div>
          <div class="card-body">
            <img src="https://res.cloudinary.com/instaminion/image/upload/v1590657834/lqmtp0hlgdyroswdzpdd.jpg" alt="Card image cap" class="image img-responsive" width="320" height="400" >
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="">a</a>
              <a href="">b</a>
              <a href="">c</a>
            </li>
          </ul>
          <div class="card-body">
            <p>username</p>
            <p>caption</p>
            <p>time</p>
          </div>
          <div class="card-footer">
            <p>Add Comment</p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <p>username</p>
          <p>followers</p>
          
        </div>

      </div>
      <div class="col-md-2">

      </div>

    </div>
    


  </div>
{%endblock%}