<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" style="margin-left: 60px;" href="#">Instapic</a>
  <form class="form-inline mx-auto">
    <input class="form-control mr-sm-2 " type="search" placeholder=" search " aria-label="Search">
  </form>
  <a href="" class="mr-5 fas fa-home"></a>
  <a href="" class="mr-5 	far fa-paper-plane"></a>
  <a href="" class="mr-5 far fa-compass"></a>
  <a href="" class="mr-5 far fa-heart"></a>
  {% if user.is_authenticated%}
  <a href="" class="mr-5 ">e</a>
  <a href="/accounts/password_change"> Change Password</a>
  <a href="/accounts/logout/">User Logout</a>
  {%else%}
  <a href="/accounts/register">Register</a>
  <a href="/accounts/login">Login</a>
  {%endif%}
</nav>