{%load static%}

<link rel="stylesheet" href="{% static 'css/navbar.css'%}">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<nav class="navbar">
  <a class="navbar-brand" href="{% url 'home'%}">Instapic</a>
  <form class="form-inline mx-auto" action="{% url 'profilesearch' %}" role="search">
    <input class="form-control mr-sm-2 " type="search" placeholder=" search " aria-label="Search" name="searchname">
  </form>
  {% if user.is_authenticated%}
  <div class="dropdown show ">
    <a class="dropdown-toggle mr-5  fas fa-user-cog" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/profile/">Profile</a>
      <a class="dropdown-item" href="/accounts/password_change"> Change Password</a>
      <a class="dropdown-item" href="/accounts/logout/">User Logout</a>
      <a class="dropdown-item" href="/update/profile/">Update Profile</a>
    </div>
  </div> 
  <a href="/" class="mr-5 fas fa-home"></a>
  <a href="" class="mr-5 	far fa-paper-plane"></a>
  <a href="" class="mr-5 far fa-compass"></a>
  <a href="" class="mr-5 far fa-heart"></a>
  {%else%}
  <a href="/accounts/register" class="mr-4">Register</a>
  <a href="/accounts/login" class="mr-4 fas fa-sign-in-alt"> Sign in</a>
  {%endif%}
  
 
</nav>