{%extends 'base.html'%}
{% load static%}

{%block content%}
{{block.super}}
<div class="container text-center">
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-6">
      <img src="{% static 'images/happy.jpg'%}" alt="Welcom to Instapic" class="image img-responsive" width="500">
    </div>
    <div class="col-md-6">
      <div style="margin-top: 80px;">
        <h2 class="welcometitle">Welcome to Instapic</h3>
          <a href="/accounts/register" class="btn btn-outline-primary" style="margin-top: 10px;">Register</a>
          <a href="/accounts/login" class="btn btn-outline-primary " style="margin-top: 10px;"> Sign in</a>
      </div>
     
    </div>
  </div>

</div>
{%endblock%}